@import "@/_vars.scss";

.select {
    width: 100%;
    &_null {
        select {
            color:$input_placeholder !important;
        }
    }
    > select {
        width: 100%;
        font-size: 14px;
        border: 1px solid $input_border;
        border-radius: 3px;
        padding: 7px 0 8px 11px;
        color:$primary;
        >option {
            color:$primary;
        }
        >option:first-child {
            color:$input_placeholder;
        }
    }
}