@import "@/_vars.scss";
$dots__color:#aeb7c2;


.friends {
    width: 100%;
    min-height: calc(100vh - #{$header_height});
    background-color: $background_page;
    display: flex;
    justify-content: center;
    &__container {
        padding: 20px 0 0;
        width: 100%;
        max-width: $container;
        display: flex;
    }
    &__sidebar {
        padding: 0 0 0 15px;
        min-width: 164px;
    }
    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 0;
    }
    &__top {
        width: 100%;
    }
    &__block {
        border-radius: 4px;
        box-shadow:  0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
        background-color: white;
    }
    &__other {
        margin:15px 0;
        padding: 0 13px;
    }
    &__friends {
        padding: 0 13px;
    }
    &__input {
        
    }
}

.input {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $input_border;
    padding: 14px 0 13px 20px;
    font-size: 13px;
    &__wrapped {
        position: relative;
        margin: 0 0 0 10px;
        display: flex;
        align-items: center;
    }
    &__placeholder {
        position: absolute;
        pointer-events: none;
        color:$input_placeholder;
        &_none {
            display: none;
        }
    }
    input {
        width: 100%;
    }
}

.card {
    width: 100%;
    font-size: 13px;
    &__wrapped {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid $input_border;
    }
    &__left {
        display:flex;
    }
    &__right {
        display: flex;
    }
    &__sent {
        border-radius: 4px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12.5px;
        color: #55677d;
        padding: 7px 10px 8px;
        background-color: #e5ebf1;
    }
    &__avatar {
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
    }
    &__info {
        padding: 5px 0 0 20px;
    }
    &__fullname {
        cursor: pointer;
        font-weight: 700;
        color: #2A5885;
    }
    &__add {
        button {
            padding: 7px 16px 7px;
            color:white;
            background-color:#5181B8;
            border-radius: 4px;
            &:hover {
                opacity: .88;
            }
        }
    }
    &__menu {

    }
}


.menu {
    &__wrapped {
        width: 100%;
    }
    &__dots {
        width: 20px;
        height: 10px;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7px 10px 0 0;
        &::after,&::before{
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $dots__color;
        }
        &::before {
            margin: 0 12px 0 0;
        }
        &::after {
            margin: 0 0 0 12px;
        }
        div {
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $dots__color;
        }
    }
    &__list {
        position: absolute;
        margin: 10px 0 0;
        transform: translate(-80%,0);
        &::after {
            content: ''; 
            top: -1px;
            right: 16.6px;
            position: absolute;
            border-radius: 1.5px;
            width: 7px;
            height: 4px;
            background-color: white;
            z-index: 2;
        }
        &::before {
            content: ''; 
            position: absolute;
            width: 4px;
            height: 4px;
            top: -3px;
            right: 18px;
            transform: rotate(45deg);
            background-color: white;
            box-shadow:  0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
            z-index: 1; 
        }
        ul {
            display: flex;
            flex-direction: column;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                min-width: 160px;
                width: 100%;
                padding: 0 20px;
                margin: 5px 0;
                height: 30px;
                &:hover {
                    background-color: #f5f6f8;
                }
            }
        }
    }
}

.animation {
    &__enter {
        opacity: 0;
        &_active {
            transition: opacity .3s linear 0s;
            opacity: 1;
        }
    }
    &__exit {
        opacity: 1;
        &_active {
            transition: opacity .3s linear 0s;
            opacity: 0;
        }
    }
}

.observer {
    width: 100%;
    // height: 2px;
    background-color: transparent;
}