$background:#edeef0;


.login {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 46px);
    background-color: $background;
    &__wrapped {
        width: 100%;
        max-width: 740px;
        margin: 50px 110px;
        padding: 37px 30px;
        background-color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    &__title {
        font-size: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__error {
        margin: 25px 0 0;
        background-color: #FAEBEB;
        border-radius: 4px;
        padding: 7px 18px 9px;
        line-height: 150%;
        font-size: 13px;
        ul {
            margin: 19px 0;
            padding: 0 0 0 30px;
            li {
                list-style: disc inside;
            }
        }
    }

    &__form {
        width: 100%;
        margin: 30px 0 0;
        max-width: 270px;
    }
}