$primary:#000000;
$secondary:#626D7A;
$skeleton: rgb(216, 216, 216);

$input_border:#dce1e6;
$input_placeholder:#828282;
$input_placeholder_focus:#b2b2b2;

$background_page:#edeef0;
$header_height:46px;
$container: 990px;
